# Base de datos MySQL
DATABASE_URL="mysql://root:password@localhost:3306/gestor_drive"

# Google Drive API
GOOGLE_DRIVE_CREDENTIALS_PATH="public/credentials/sistema-gestor-de-archivos-c81c3bf51991.json"
GOOGLE_DRIVE_ROOT_FOLDER_ID="14NeVYJ4oXB5KVTl5GhmEoQpTK0eoVOam"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-a-random-secret-here"
